body {
	background-color: #183153;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .head {
	font-family: 'Ubuntu', sans-serif;
	font-size: 3.75em;
	font-weight: 500;
	color: #fff;
}

main > .subhead {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.42rem;
	margin: 1.5rem 0;
	font-weight: 300;
	color: #fff;
}

main > .section {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.42rem;
  margin: 1.5rem 0;
  font-weight: 400;
  color: #fff;
}

.icons i {
	font-size: 5em;
	padding: 20px;
	color: #fff;
}

.fa-brands:hover {
	color: #818181;
}

